/**
  *Importing the font from Google Fonts
  */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --WHITE: #FFF;
  --BLEU_OUTREMER: #0D2D45;
  --BLEU_NUIT: #071520;
  --TURQUOISE: #2AB8CD;
  --LUEUR_BLEUE: #93D3E9;
  --ORANGE: #F6A316;
  --BLEU: #93D3E9;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
 
}

html {
  scroll-behavior: smooth;
  color: var(--WHITE);
}

body {
  background: var(--BLEU_NUIT);
}

#root {
  width: 100%;
}

#root main {
  flex: 1;
}

.slick-prev {
  display: none !important;
}