
/**
  *Importing the font from Google Fonts
  */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#root main {
  flex: 1;
}

header {
  width: 100%;
  height: 130px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

footer {
  height: 75px;
  position: fixed;
  bottom: 0;
}

section {
  max-width: 1440px;
  margin: auto;
}

